<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.mapper.SysRolePrivilegeMapper">

    <resultMap id="BaseResultMap" type="com.cn.mybatis.SysRolePrivilege">
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="privilegeId" column="privilege_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id,privilege_id
    </sql>
</mapper>
