<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.cn.mybatis.SysRole">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="enabled" column="enabled" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_name,enabled,
        create_by,create_time
    </sql>

<!--  关联的嵌套查询association此处不能加 parameterType="java.lang.Long"-->
    <select id="selectRoleById" resultType="com.cn.mybatis.SysRole" >
      select * from sys_role where id = #{id}
    </select>
</mapper>
